# permissions for end users to view oai-basics.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: oai-basic-viewer-role
rules:
- apiGroups:
  - demo.nitinoai.com
  resources:
  - oai-basics
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - demo.nitinoai.com
  resources:
  - oai-basics/status
  verbs:
  - get
